@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  body {
    @apply bg-zinc-50 text-zinc-900;
  }

  input:disabled,
  button:disabled {
    @apply cursor-not-allowed;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  @layer base {
    body {
      @apply bg-zinc-950 text-zinc-50;
    }
  }
}
